extends layout

block content
  h3 Результат выполнения #{res.title}
  p Выгружено рецептов: #{res.numReceipt}
  p Ошибок:#{res.numError}
  - var len = res.errors.length;
  ul
    - for (var i = 0; i<len; i++)
        li #{res.errors[i]}
